@media screen and (max-width: 900px){

    .account-title {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1rem;
        color:black;
    }
       
    .flex-container {
        margin-top: 1rem; 
        display: flex;
        justify-content: center;
        flex-direction: column; 
        border-radius: 10px; 
        gap:2%; 
        color:black;
    }

    .flex-container div {
        width: 90%;
        gap:1%;
    }

    .info-hidden {
        flex-direction: column;
    }

    .info-hidden div {
        width: 90%;
        gap: 1%; 
    }
}

