.stat-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 10px;
  margin: 10px 0;
}

.job-item {
  display: flex;
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid #eee;
  gap: 5px;
}

.job-id {
  font-weight: bold;
  min-width: 100px;
  font-size: 1.2em;
  color: black;
}

.job-file {
  flex: 1;
  font-size: 1.1em;
  word-break: break-word;
  color: black;
}

.job-date {
  color: #666;
  font-size: 0.5em;
  max-width: 90px;
}

.status-dot {
  width: 20px;
  height: 20px  ;
  border-radius: 100%;
  margin-left: 60px;
}

.status-dot.success { background-color: green; }
.status-dot.pending { background-color: orange; }
.status-dot.error { background-color: red; }


