.carousel-item img {
  height: 500px;
  object-fit: cover;
  object-position: center top; 
}

.carousel-item img.OS {
  object-position: center center; 
}

.our-story, .our-sponsors{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    font-family: 'Segoe UI', sans-serif;
}

.our-story{
    margin-top: 2rem;
}

.our-sponsors{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-us-page {
  background: linear-gradient(270deg, #d6aaf3, #a6e5f8, #93bbe3);
  background-size: 400% 400%;
  animation: gradientShift 6s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}